@import "../../variables.scss";

@mixin skill {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  // width: 100%;
  .skill-item {
    border-radius: 0.5rem;
    color:$pure-color;
    background-color: $border-color;
    display: inline-block;
    width: max-content;
    padding:0.3rem 0.7rem;
    font-weight: 700;
  }
}

.Skills {
  // margin-bottom: 15rem;
  .skills_section {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // // grid-template-rows: 1fr 1fr auto;
    // grid-auto-rows: auto;
    // justify-items: center;
    // gap: 2rem;

    .first-part-skills {
      justify-self: start;
      @include skill;
    }
    .second-part-skills {
      justify-self: end;
      @include skill;
    }
    .third-part-skills {
      grid-column: 1/3;
      @include skill;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
