@import "variables";
.app {
  @media print {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }
  display: grid;
  max-width: 1200px;
  height: 1698px;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: auto 1fr;
  margin: 100px auto 0 auto;
  background: $pure-color;
  box-shadow: -10px 20px 60px 5px;
  border-radius: 2px;
  overflow: hidden;
  .topic {
    margin: 1.5rem 0;
    color: $secondary-color;
  }
  .section-seperated {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    row-gap: 2.5rem;

  }
  .section {
    padding: 2rem;
  }
  .section-title {
    color: $primary-color;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.3rem;
    border-bottom: 0.2rem solid $border-color;
  }

  .topic__left-side {
    grid-column: span 1;
    justify-self: end;
  }
  .topic__right-side {
    grid-column: span 2;
    justify-items: end;
  }
  .topic-title {
    font-size: 1.08rem;
    font-weight: 700;
    color: $primary-color;
    margin: 0.5rem 0;
  }
  .topic-desc {
    font-size: 1rem;
    color: $secondary-color;
  }
  .topic-title{
    font-weight: 600;

  }
  .left-layout {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right-layout {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $layout-color;
  }
}
